*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div{
    color: red;
    border: thick solid black;
    border-style: double;
    background-image:url("img\maple-1079235__340.jpg")
}